<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.geolocation.te" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GeolocationTest</name>
    <description>Test harness application for Geolocation plugin</description>
    <author email="dpa99c@gmail.com" href="https://www.github.com/dpa99c">Dave Alden</author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
